<h1>New context</h1>

<%= error_messages_for :context %>

<% form_for(@context) do |f| %>
  <p>
    <b>Label</b><br />
    <%= f.text_field :label %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', contexts_path %>
