/* CSS file */

/*------------------------------------------------------------------------------ Fonts */

@font-face
{
	src: 					url('../fonts/ArialRounded.swf');
	fontFamily: 			'Arial Rounded MT Bold';
	fontWeight:				Regular;
}

/*------------------------------------------------------------------------------ Text */

.title
{
	color:					#00ACE5;
	font-size:				22;
}

.date
{
	color:					#222222;
	font-size:				22;
}


/*------------------------------------------------------------------------------ Global */

global
{
	font-family:			'Arial Rounded MT Bold';
	color:					#999999;	
}

/*------------------------------------------------------------------------------ Components */

Button
{
	skin:								ClassReference('assets.skins.Button_skin');
	color:								#CCCCCC;
	roll-over-color:					#FFFFFF;		
}